.container, .container-fluid p{
    text-align: center;
    margin: 8px 0;
}

body{
    padding:8px
}
*{
    margin:0px;
    padding:0px;
}
.rose{
    background-color: #CDA5F3;
}
.lgrey{
    background-color: #D8D8D8;
}